
/*===================Testing Code Css===================*/

.sky{
    background-image: url("./Car_Animation_Img/sky.jpg  ");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}
.road-img{
    left: 0;
    bottom: 0;
    position: absolute;
    animation: my 50s infinite ;

}
.city{
    position: absolute ;
    bottom: 300px;
    left: 0;
    width: 100vw;
    animation: city 100s infinite ;
    background-repeat: repeat-x;
}
@keyframes my {

    100%{
        transform: translateX(-3400px);
    }

}
@keyframes city {

    100%{
        transform: translateX(-1440px);
    }

}
.car{
    width: 700px;
    position: absolute;
    left: 600px;
    bottom: 150px;
}
.wheel{
    width: 150px;
    position: absolute;
    left: 650px;
    bottom: 150px;
    animation: wheel 5s infinite linear;
}
.wheel2{
    width: 150px;
    position: absolute;
    left: 1080px;
    bottom: 150px;
    animation: wheel 5s infinite linear ;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }

}