/* section start */

section {
    padding: 3.5rem 2% 2rem;

}

/* section end */

/* navigation bar start */

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
nav {
    background-color: white;
    height: 80px;
    width: 100%;
}

.logo {
    color: #3cece3;
    font-size: 2rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: #3cece3;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .logo {
        font-size: 15px;
    }
    nav {
        width: 100%;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 1000;

    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
        color: white;
    }
    a:hover,
    a.active {
        background: none;
        color: aliceblue;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 320px) {
    nav {
        width: 100%;
    }
}
/* navigation bar end */

/* home section start */

.home-section {
    position: relative;
    background: black;
    z-index: 1;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

.img-box img {
    max-width: 650px;
    max-width: 650px;
    object-fit: cover;
}
.home-text {
    width: 50%;
    background-color: transparent;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.home-image {
    width: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-text h4 {
    font-size: 3rem;
}
.home-text h1 {
    font-size: 5rem;
}

.home-text p {
    font-size: 1rem;
}
.btn {
    background-color: #3cece3;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.button-div{
    margin-top: 80px;
    display: flex;
    align-items: center;

}
.button-div p {
    padding-left: 45px;
    font-weight: 400;
    font-size: 1rem;
}

.btn:hover {
    background-color: #2abeb6;
    transform: scale(1.05);
}

.btn:active {
    background-color: #28a8a0;
    transform: scale(0.98);
}

/* Responsive Size Home */

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .home-text p {
        padding: 20px;
        text-align: center;
        font-size: 120%;
    }
    .home-text {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
    }
    .home-image {
        width: 100%;
        bject-fit: cover;
    }
    .home-image img {
        max-width: 400px;
        max-height: 400px;
    }
}

@media (max-width: 1024px) {

    .home-text h1 {
        font-size: 3.5rem;
    }
    .home-text p {
        font-size: 100%;
        padding-right: 20px;
    }
    .home-image img {
        max-width: 550px;
        max-height: 550px;
    }
}

@media (max-width: 425px) {

    html{
        font-size: 60%;
    }

    .home-text p {
        padding: 20px;
        text-align: center;
        font-size: 120%;
    }

    .home-text {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
    }
    .home-image img {
        max-width: 375px;
        max-height: 375px;
    }
}

@media (max-width: 320px) {

    html{
        font-size: 40%;
    }

    .home-text p {
        padding: 8px;
        text-align: center;
        font-size: 170%;
    }

    .home-text {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0;

    }
    .home-image img {
        max-width: 375px;
        max-height: 375px;
    }
}

/* home section end */


/*about section start*/

.about-section{
    background-color: black;
    /*background-color: rgb(36, 76, 78);*/
}

.about-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-btn{


}
.about-text{
    width: 50%;
    display: flex;
    justify-content: right;
    padding-top: 50px;
    flex-direction: column;
    color: white;
    gap: 2rem;

}
.about-text p {
    width: 80%;
    text-align: left;
    font-size: 1rem;

}
.about-text h1 {
    font-size: 5rem;
}


.about-image img {
    max-width:750px ;
    max-height: 750px;
    border-radius: 50%;
    border-bottom: 10px solid white;
    box-shadow: 1px 10px 5px #fff;

}
.personal-info {
    display: grid;
    gap: 1rem;
}
.personal-info li {
    display: flex;
    color: #3cece3;
    font-weight: 600;
    font-size: 1rem;
}
.personal-info span{
    color: white;
}
.personal-info li:first-child{
    gap: 4rem;
}
.personal-info li:nth-child(2){
    gap: 3rem;
}
.personal-info li:nth-child(3){
    gap: 3rem;
}
.personal-info li:nth-child(4){
    gap: 3.5rem;
}

/*responsive size*/
@media (max-width: 1024px) {
    .about-image img {
        padding-top: 50px;
        max-width: 450px;
        max-height: 450px;
    }
    .about-text h1 {
        font-size: 3.5rem;
    }
    .about-text {
        padding-left: 50px;
        padding-top: 0;
    }
    .about-text p {
        font-size: 100%;
        padding-right: 20px;
    }
    .personal-info {
        font-size: 80% ;
    }

}
@media (max-width: 1440px) {
    .about-text{
        padding-top: 0;
    }
}

@media (max-width: 768px) {
      .about-image{

          display: none;
      }
     .about-text{
         width: 100%;
         justify-content: center;
         align-items: center;
         gap: 2rem;
     }
     .about-text p {
         text-align: center;
     }
}

@media (max-width: 425px) {

    .about-text{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-left: 0;

    }
    .about-text p {
        font-size: 120%;
        padding: 20px;

    }
}
@media (max-width: 320px) {

    .about-text{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-left: 0;

    }
    .about-text p {
        font-size: 170%;
        padding: 20px;

    }
    .personal-info li{
        font-size: 1.5rem;
    }
}

/*about section end*/