.gallery-section{
    background: linear-gradient(to bottom,  #000000,#314F4F );
    padding: 200px;
}

.top-banner {
    position: absolute;
    /*background-color: white;*/

    top: 10%; /* Center vertically */


}
