*{
    margin: 0;
    padding: 0;
}

.grid-container{
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;

}
.grid-container>div{
    border: 1px solid black;
}
.d1{
    background: red;
}
.d2{
    background: green;
}
.d3{
    background: orangered;
}
.d4{
    background: purple;
}
.d5{
    background: deeppink;
}
.d6{
    background: blue;
}
.d7{
    background: brown;
}
.d8{
    background: hotpink;
}
.d9{
    background: rebeccapurple;
}
.d10{
    background: yellow;
}
.d11{
    background: cornflowerblue;
}
.d12{
    background: lightskyblue;
}